/*.View .ScrollView {*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: calc(100% - 50px);*/
    /*overflow: scroll;*/
    /*margin-top: 50px;*/
    /*display: inline-flex;*/
/*}*/

.View .ScrollView {
    padding-top: 49px;
}

.group-title {
    color: black;
    float: left;
}

.group-title-count {
    float: right;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 200;
    color: #868787;
    font-family: system-ui;
}

.group-header {
    background-color: white;
}

.gallery-wrap {
    background-color: white;
}

.all-items {
    margin-top: 0px;
}

.banner-image {
    width: 100%;
    height: 60vw;
}

.foryou-image {
    width: 280px;
    height: 150px;
    border-radius: 7px;
}

.gallery-item-name {
    margin-top: 5px;
    color: black;
    font-family: system-ui;
    font-size: 15px;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery-item-description {
    margin-top: 2px;
    font-family: system-ui;
    color: #959698;
    font-size: 13.5px;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-popular-image {
    width: 150px;
    height: 150px;
    border-radius: 7px;
}

.gallery-container {
    width: auto;
    margin-left: 10px;
}

.popular-image {
    width: 140px;
    height: 180px;
    border-radius: 7px;
}

.popular-name {
    margin-top: 3px;
    color: #404143;
    font-family: system-ui;
    font-size: 14px;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popular-description {
    margin-top: 3px;
    font-family: sans-serif;
    color: #959698;
    font-size: 12.8px;
    line-height: 1.2;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.promo-image {
    width: 290px;
    height: 180px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.categories-container {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.categories-container::-webkit-scrollbar {
    display: none;
}

.category-main {
    display: inline-block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #71757A;
    background-color: #F2F6FA;
    border-radius: 20px;
    height: 100%;
    font-weight: 400;
}

.category-wrap {
    height: 100%;
    display: table;
}

.category-text {
    vertical-align: middle;
    display: table-cell;
}

.main .NewPane--ios {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    height: 35px;
}

.main .NewPane--android {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    height: 35px;
}

.category-main-image {
    width: 90px;
    height: 90px;
    border-radius: 7px;
    display: inline-block;
}

.category-main-name {
    color: #2C2D2D;
    font-family: system-ui;
    font-size: 16px;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-main-description {
    font-family: system-ui;
    color: #959698;
    font-size: 14.5px;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.4;
}

.category-main-price {
    margin-top: 15px;
}

.category-main-price-current {
    display: inline-block;
    color: #2C2D2D;
    font-family: system-ui;
    font-size: 14.5px;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.category-main-price-old {
    text-decoration: line-through;
    display: inline-block;
    margin-left: 10px;
    color: #959698;
    font-family: system-ui;
    font-size: 14.5px;
    overflow: hidden;
    max-width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.category-main-info {
    display: inline-block;
    position: absolute;
    width: calc(100% - 100px);
    margin-left: 12px;
    margin-top: 4px;
}

.category-special-name {
    color: #2C2D2D;
    font-family: system-ui;
    font-size: 16px;
    overflow: hidden;
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-special-price {

}

.List--ios::before, .List--ios::after {
    height: 0px;
}

.List--android::before, .List--android::after {
    height: 0px;
}

.main .ListItem--ios .ListItem__before::before {
    margin-left: 110px;
}

.main .ListItem--ios .ListItem__in {
    padding-left: 12px;
}

.main .ListItem--android .ListItem__in {
    padding-left: 15px;
}

.main .ListItem--ios .ListItem__main {
    padding-bottom: 5px;
    padding-top: 5px;
}

.main .ListItem--android .ListItem__main {
    padding-bottom: 5px;
    padding-top: 5px;
}

.add-to-cart {
    margin-top: 5px;
    background-color: white;
    border-radius: 20px;
    border: solid 1px #4473A8;
    color: #4473A8;
    padding-top: 1px;
    padding-bottom: 2px;
    width: 80px;
    font-family: system-ui;
    font-size: 11.5px;
    font-weight: 400;
    text-align: center;
}